* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "montserrat";
  font-size: 18px;
  text-decoration: none;
}


.scroll-active {
  background-color: white;
  transition: background-color 0.5s ease-in-out;
  z-index: 200;
}

#heroImage {
  z-index: -100;
  position: relative;
  width: 100%;
  height: 90vh;
}
.logodiv {
  padding: 10px 20px;
}

#footscrayLogo {
  color: #586cb2;
  font-size: 1.67rem;
}
#dentalLogo {
  margin-top: -10px;
  color: white;
  font-size: 1.5rem;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

#heroImage {
  background-image: url("./assets/heroBanner1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
}

#careLogo {
  color: red;
  font-size: 1.5rem;
  text-shadow: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
}
.navlinks {
  display: flex;
  margin-right: 20px;
}

.navlinks h2 {
  padding: 20px;
  font-size: 0.8rem;
  margin-top: 13px;
  color: #587cb2;
}

#mainSection {
  margin: 30px;
  padding-right: 30px;
  margin-top: 80px;
  position: relative;
  bottom: 575px;
  margin-bottom: -370px;
}

#heroText {
  font-size: 3rem;
  color: #586cb2;
  text-align: end;
}

#sloganText {
  font-weight: 500;
  padding: 30px 0;
  text-align: end;
}

.button {
  border: none;
  background-color: #586cb2;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px 0;
  float: right;
}

.flexdivcenter {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.contactUs {
    border: none;
    background-color: #586cb2;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 0;
    position: relative;
    bottom: 250px;

}


.headers {
  margin-left: 40px;
  border-bottom: #587cb2 2px solid;
  width: 60%;
  padding: 10px;
}
.headerSmall {
  font-size: 1.2rem;
  font-weight: 500;
}

.headerLarge {
  font-size: 2rem;
  color: #587cb2;
  margin-left: 50px;
  font-weight: 600;
}

.greyblock {
    background-color: #f5f5f5;
    height: 800px;
    position: relative;
    bottom: 35px;
    padding-top: 50px;
}
.icon {
    background-color: #98aecd;
    margin: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }


.icongridwrap {
    display: flex;
    justify-content: center;
    width: 100%;

}
.icongrid {
    position: relative;
    bottom: 250px;
  display: grid;
  width: 80%;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "icon1 icon2 icon3"
    "iconText1 iconText2 iconText3"
    "icon4 icon5 icon6"
    "iconText4 iconText5 iconText6";
}





#icon1 {
    grid-area: icon1;
}

#icon2 {
    grid-area: icon2;
}

#icon3 {
    grid-area: icon3;
}

#icon4 {
    grid-area: icon4;
}

#icon5 {
    grid-area: icon5;
}

#icon6 {
    grid-area: icon6;
}

#iconHeading1 {
    grid-area: iconText1;
     text-align: center;
}

#iconHeading2 {
    grid-area: iconText2;
    text-align: center;
}

#iconHeading3 {
    grid-area: iconText3;
    text-align: center;
}
#iconHeading4 {
    grid-area: iconText4;
    text-align: center;
}#iconHeading5 {
    grid-area: iconText5;
    text-align: center;
}

#iconHeading6 {
    grid-area: iconText6;
    text-align: center;
}


#secondSection {
    position: relative;
    bottom: 200px;
}